#wrapper #logo{
	background-color:darkred;
}
#logo{

	float: left;
	width: 100%;
	font-style: normal;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 200px;
	line-height: 200px;
	color: white;
}


#hedder
{
	float: left;
	clear: both;
	width: 100%;

	height: 280px;
	background:darkblue;

}

#hedder ul
{
	list-style: none;
	padding: 0px;
}
#hedder ul li a{
	float: none;
	display: block;
	text-decoration: none;
	color: white;
	padding-top: 0px;
	padding-left: 40px;
	padding-right: 40px;
	text-align:center;
	height: 36px;
	line-height: 36px;
	margin-left: 0px;

}
	#hedder ul li a:hover{
			background:darkred;
		}
#hedder ul li a.active{
	background: darkred;
}
#slider{
 	clear: both;
 	float: left;
 	width: 100%;
 	margin: auto;
}

#contentarea{
	border: 0px solid; 
	clear: both; 
	float: left;
	width: 100%;
	margin-top: px;
}
#contentarea #leftside{
	float: none;
	width: 100%;
	border: 0px;
}

#contentarea #leftside .section{
	float: none;
	margin-left: 15px;
	margin-bottom: 20px;
	margin-top: 30px;
	width: 90%;
	min-height: 200px;
	border: 5px solid black;
}
#contentarea #leftside .section h2{
	text-align: center;
	background-color: black;
	color: white;
	width: 100%;
	height: 42px;
	line-height: 42px;
	min-height: 42px;
}
#contentarea #leftside .section h3{
	text-align: center;
}

#contentarea #leftside ul{
	list-style: none;
}
#contentarea #leftside ul li {
	
	height: 42px; 
	line-height: 42px;
	padding-left: 0px;
}
#contentarea #leftside  ul li a
{
	text-decoration: none;
	color: white;
}
#contentarea #leftside  ul li a:hover
{
	color: black;
}
button
{
  
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    background:darkred;
    border-radius: 2px;

	
}

#footer{
	clear: both;
	float:left;
	width: 100%;
	height: 25px;
	line-height: 25px;
	color:white;
	background:darkblue;
	text-align: center;
	padding-left: 0px;
	margin-bottom: 1px;
}


@media only screen and (min-width: 720px)
{ 
body
{
	margin: 0;
	padding: 0;
	font-family:Arial;
}

*{
	margin: 0;
	padding: 0;
}

#wrapper{
	border: 1px solid;
	max-width: 1100px;
	margin: auto;
}
#logo{

	float: left;
	width: 100%;
	font-style:italic;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 200px;
	line-height: 200px;



}
#hedder{
	float: left;
	clear: both;
	width: 100%;
	height: 42px;
	background: darkblue;

}

#hedder ul{
	list-style: none;
}
#hedder ul li a{
	float: left;
	text-decoration: none;
	color: white;
	padding-top: 0px;
	padding-left: 40px;
	padding-right: 40px;
	text-align:center;
	height: 42px;
	line-height:42px;

}
	#hedder ul li a:hover
	{
			background:darkred;
		}
#hedder ul li a.active
{
	background: darkred;
}
#slider{
 	clear: both;
 	float: left;
 	width: 100%;
 	margin: auto;
}

#contentarea
{
	border: 0px solid; 
	clear: both; 
	float: left;
	width: 100%;
	margin-top: 30px;
}
#contentarea #leftside
{
	float: left;
	width: 100%;
	border: 0px;
}

#contentarea #leftside .section
{
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 30px;
	width: 95%;
	min-height: 200px;
	border: 5px solid black;
}
#contentarea #leftside .section h2
{

	text-align: center;
	background-color: black;
	color: white;
	width: 100%;
	height: 42px;
	line-height: 42px;
}
#contentarea #leftside ul
{
	list-style: none;
}
#contentarea #leftside ul li
 {
	height: 35px; 
	line-height: 35px;
	padding-left: 10px;
}
#contentarea #leftside  ul li a
{
	text-decoration: none;
	color: white;
}
#contentarea #leftside  ul li a:hover
{
	color: black;
}
button
{
   
    border-radius: 2px;
 	border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    background:darkred;
    
	
}

#footer
{
	clear: both;
	float:left;
	width: 100%;
	height: 42px;
	line-height: 42px;
	color:white;
	background:darkred;
	text-align: center;
	padding-left: 0px;
	margin-bottom: 1px;
	margin-top: 10px;
}

}







